*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #141414;
    color: white;
    height: 700px;
}

/* Nav Bar */

.nav-bar{
    list-style-type: none;
    padding: 8px 10px;
    display: flex;
    background-color: #111111;
}
li a{
    text-decoration: none;
    padding: 10px;
    color:white;
}
li a:hover{
    color: #777575;
}

/* The Body & Content */

.body{
    padding: 50px;
    margin: 70px;
}
.content{
    margin: 50px;
    padding: 4px;
}
.content > button{
    background-color:gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.content > button:hover{
    background-color: #777575;
}
.content > small{

    color: white;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 5%;
    
}
.content > small:hover{
    color: #777575;
}

/* Footer */

.footer {padding: 10px;}

.copyrights{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #777575;
    text-align: center; 
    padding: 65px;
    background-color: #111111;
    height: 100px;
}

